

/* Clase recuadros */
.box{
    border-radius: 7px;
}

.btnCar{
    background-color: aquamarine;
    border-color: white;
    border-radius: 6px;
}

.btnCar:hover{
    background-color: rgb(0, 183, 255);
}

.imge{
    border-radius: 7px;
    opacity: initial;
}

.imgindex{
    border-radius: 7px;
    opacity: initial;
}

.imgindex:hover{
    width: 400px;
    opacity: 1;
    filter: contrast(120%);
}